body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 20px;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    width: 100%;
    height: 95%;
    max-width: 1400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    margin: 0 auto;
}

.left-panel {
    /* 왼쪽 패널 */
    padding: 20px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #ccc;
}

.middle-panel {
    /* 가운데 패널 */
    padding: 20px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #ccc;
}

.right-panel {
    /* 오른쪽 패널 */
    padding: 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    font-size: 24px;
    margin: 0px 0 10px;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 15px;
    margin: 10px 0 10px;
}

textarea {
    /* 발송 내용 텍스트 입력창 */
    width: calc(100% - 20px);
    height: 300px;
    min-height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 0px;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.keywords-container {
    /* 이미지에 포함시키고 싶은 텍스트 입력창을 감싸는 컨테이너*/
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

input[type="text"] {
    /* 이미지에 포함시키고 싶은 텍스트 입력창 */
    flex: 1;

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    height: 40px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.button-group {
    /* 생성유형과 발송내용의 버튼 컨테이너 */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.button-group button {
    /* 그 컨테이너 속 버튼 속성들 */
    margin-left: 14px;
    padding: 1px 12px;
    border: none;
    border-radius: 10px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    height: auto;
}

.button-group button.selected {
    /* 생성유형의 버튼들이 선택되었을때 색상 변경 */
    background-color: #186428;
}

.image-container-text {
    /* 이미지 생성 결과 글씨 속성 */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.image-container-generate img {
    /* 생성된 이미지 속성 */
    width: 80%;
    height: auto;
    border-radius: 8px;
    margin: auto;
    display: block;
}

.image-container-history {
    /* 하단의 생성되었던 이미지 컨테이너 */
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.image-container-history button {
    /* 생성되었던 이미지 이동 버튼 */
    margin: auto;
}

.image-container-history img {
    /* 하단의 생성되었던 이미지 속성 */
    margin-top: 10px;
    width: calc(35% - 10px);
    border-radius: 8px;
    margin: auto;
    display: block;
}

button {
    /* 모든 버튼의 속성들 */
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    height: 40px;
    transition: background-color 0.3s;
}

button:hover {
    /* 버튼에 마우스 올려둘때 색상 변화 */
    background-color: #218838;
}

button:disabled {
    /* 이미지 생성 버튼이 비활성화 되었을때 속성 */
    background-color: #619578;
    cursor: not-allowed;
    opacity: 0.6;
}

.phone-group {
    /* 주소록 칸인데 현재 미구현으로 빈칸 남겨두기위해 margin 속성만 추가 */
    width: 250px;   /* div의 너비 */
    height: 200px;  /* div의 높이 */
    border: 1px solid #ccc;
    overflow-y: auto; /* div 내부 스크롤 활성화 */
    padding: 10px;
}

.phonebook-list{
    padding: 8px;
    border-bottom: 1px solid #eee;
}

/* 선택된 아이템에 적용될 스타일 */
.selected {
    background-color: lightblue;
  }

.Addphonebook-button {
    /* 주소록 추가 버튼 */
    margin-top: 5px;
    margin-bottom: 20px;
    color: white;
}

.phonenumber-list {
    /* 전화번호 입력하고 추가할때 나타나는 리스트 컨테이너 */
    margin-top: 10px;
    max-height: 150px;
    display: block;
    overflow-y: auto;
    margin-bottom: 15px;
    text-align: center;
}

.phonenumber {
    /* 추가한 전화번호 */
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #e0e0e0;
    border-radius: 4px;
    position: relative;
    font-size: 12px;
    color: #333;
}

.phonenumber .remove {
    /* 전화번호 오른쪽의 X 버튼 */
    margin-left: 5px;
    cursor: pointer;
    color: red;
    font-weight: bold;
    font-size: 12px;
}

#phonenumber-input {
    /* 전화번호 입력 텍스트 칸 */
    font-size: 12px;
    flex: 1;

    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    height: 20px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.send-button-container {
    /* 발송하기 버튼 컨테이너 */
    margin-top: auto;
    width: 100%;
}

#send-button {
    /* 발송하기 버튼 */
    width: 100%;
    padding: 10px;
}

#send-history-button { 
    /* 발송 내역 버튼 속성*/
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
}

#send-history-button:hover {
    /* 발송 내역 버튼에 마우스 올려두었을 때 */
    background-color: #218838;
}
/* -----------------------------------------------  */

/* 발송내역의 팝업 속성들 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;

}

.modal-content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 1000px;
    height: 800px;
}

.close {
    /* X 버튼 */
    color: #ff0000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    /* X 버튼에 마우스 올려두었을때 색상 변경 */
    color: black;
    text-decoration: none;
    cursor: pointer;
}



.history-container {
    /* 발송 내역 리스트 컨테이너*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 700px;
    overflow-y: auto;
}

.history-item {
    /* 발송 내역 리스트 내의 텍스트들 */
    width: calc(50% - 10px);
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 4px;
    box-sizing: border-box;
}